*{
    margin: 0;
    padding: 0;
    
}

.sidebar{
    height: calc(97vh - 120px); 
    overflow-y: auto;
}

#form {
    max-height: calc(100vh - 110px); /* 100vh - height of navbar (assuming it's 60px) and some extra padding */
    overflow-y: auto;
}
